.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: #fefefe;
}

/* NAVBAR */

nav{
  box-sizing: border-box;
  background-color: #FFB4B4;
  color: #fefefe;
  font-family: 'Francois', sans-serif;
  padding: 0 2rem;
  height: 10vh;
}
.navbar-nav{
  position: absolute;
  right: 0;
  padding-right: 10%;
}
.navbar{
  padding-left: 10%;
}
