.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: #fefefe;
}

/* NAVBAR */

nav{
  background-color: #262A56;
  color: #ffff;
  box-sizing: border-box;
  font-family: 'Francois', sans-serif;
  padding: 0 2rem;
  height: 10vh;
}
.navbar-brand{
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navbar-nav{
  position: absolute;
  right: 0;
  padding-right: 10%;
}
.navbar{
  padding-left: 10%;
}


/* NAVBAR END */

/* BUTTON */

  .btn{
    width: 80%;
    background-color: #B8621B;
    border: navajowhite;
  }

/* BUTTON END */
