/* CART - SINGLE ITEMS */
.single-item-container{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}
.single-item-img{
    height: 60px;
    width: 50px;
}
.single-item-text > p {
    text-align: right;
    margin: 0;
}
.single-item-name{
    font-weight: 400;
}


/* CART - SINGLE ITEMS END */

/* CART ITEMS CONTAINER */
.cart-item-container{
    height: 60%;
    overflow-y: scroll;
    padding: 50px 20px;
    /* border: 2px solid #EEEDED; */
}

/* CART ITEMS CONTAINER END */

/* GENERAL CART */
.cart-container{
    display: flex;
    background-color: none;
    margin-top: 10vh;
}
.exit-box{
    color: #FFB4B4;
    font-size: 3rem;
    height: 60px;
    width: 70px;
    cursor: pointer;

}
.cart-title-container{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #EEEDED;
    height: 15%;
}
/* .second-container{
  background-color: antiquewhite;
} */
.cart-title-container > p{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #FFB4B4;
    margin-bottom: 0;
}
.cart-title-container > i{
    font-size: 2rem;
    color: #FFB4B4;
    cursor: pointer;
}

/* CART TOTAL CONTAINER */
.total-container{
    border-top: 2px solid #EEEDED;
    bottom: 20px;
    width: 100%;
    height: 20%;
}
.price-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.checkout-btn{
    height: 50%;
    width: 80%;
}

/* CART TOTAL CONTAINER END */

/* ITEM QUANTITES */
