/* CART - SINGLE ITEMS */
.single-item-container{
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}
.single-item-img{
    height: 80px;
    width: 70px;
    margin: 0 20px;
}
.single-item-text > p {
    font-family: 'Cormorant', serif;
    text-align: right;
    margin: 0;
}
.single-item-name{
    font-weight: 400;
}


/* CART - SINGLE ITEMS END */

/* CART ITEMS CONTAINER */
.cart-item-container{
    height: 55%;
    overflow-y: scroll;
    padding: 20px 20px;
}

/* CART ITEMS CONTAINER END */

/* GENERAL CART */
.cart-container{
    display: flex;
    background-color: none;
    margin-top: 10vh;
}
.exit-box{
    color: #262A56;
    font-size: 3rem;
    height: 60px;
    width: 70px;
    cursor: pointer;
    color: #B8621B;

}
.cart-title-container{

    color: #262A56;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #EEEDED;
    height: 15%;
}
.cart-title-container > p{
    font-size: 2rem;
    font-family: 'Francois', sans-serif;
    font-weight: 700;

    margin-bottom: 0;
}
.cart-title-container > i{
    font-size: 2rem;
    cursor: pointer;
}

/* CART TOTAL CONTAINER */
.total-container{
    border-top: 2px solid #EEEDED;
    bottom: 20px;
    width: 100%;
    height: 20%;
}
.price-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.checkout-btn{
    height: 50%;
    width: 80%;
}

/* CART TOTAL CONTAINER END */

/* ITEM QUANTITES */
.quantity-container{
    position: relative;
    right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #000;
    /* right: 20px; */
    width: 80px;
    height: 30px;
}
.control{
    height: 100%;
    border: none;
    background-color: #B8621B;
    color:#EEEDED;
    width: 32%;
}
.number{
    padding-top: 50%;
    transform: translateY(-20%);
    font-weight: 400;
}

@media screen and (max-width: 550px){
   .cart-container{
    width: 100%;
   }
}
